.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: lightgray;
    border: 1px solid whitesmoke;
  }
  
  .flex-container > div {
    margin-left: 50px;
    margin-right: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
  
#navbar {
  overflow: hidden;
  background-color: black;
}

#navbar a {
  font-size: x-large;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.table {
  font-size: large;
  width: 100%;
  border-collapse: collapse;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table th {

  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}